body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("https://krot.info/uploads/posts/2020-01/1579698706_23-p-foni-s-kartami-mira-90.jpg")
    no-repeat center;
}
a{
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 15px;
  padding: 15px;
  font-size: 2em;
  display: flex;
  align-items: center;
  color: rgb(241, 233, 233);
  background: rgb(12, 164, 175);
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btn:hover {
  background: rgb(12, 148, 158);
  color: rgb(241, 233, 233);
  box-shadow: 0px 2px 8px 2px rgb(12, 164, 175, 0.4);
}

.btn_text {
  text-transform: uppercase;
  margin-right: 10px;
}

.btn_icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
}

.opacity_0 {
  transition: all 0.2s linear;
  opacity: 0;
}
.opacity_1 {
  opacity: 1;
}

.out {
  width: 468px;
  height: 70px;
  margin-top: 15px;
  padding: 15px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(241, 233, 233);
  background: rgb(12, 164, 175);
  border-radius: 10px;
  outline: none;
  border: none;
  
}
